@import "../../../../scss/vars";

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 120px;
  cursor: pointer;
}
.bi {
  display: block;
  font-size: 2rem;
}

.nav-link:hover {
  color: $secundary !important;
}
