<div class="wrapper mt-5">
  <div class="row w-75 w-md-100 mx-auto animate__animated animate__shakeX">
    <div class="col-md-5 col-12 text-center">
      <i class="bi bi-shield-x"></i>
    </div>
    <div class="col-md-7 col-12">
      <div class="text-center mt-md-5">
        <p class="h1">¡Ooops, la página que buscas no existe!</p>
        <p>Puede que hayas escrito mal la URL o la página haya sido movida.</p>
        <button type="button" (click)="goToHome()" class="btn btn-primary btn-lg">Ir a home</button>
      </div>
    </div>
  </div>
</div>
