::placeholder,
input::placeholder {
  color: #50535A;
}

// Eliminar background de navegador
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.form-control:focus, .form-select:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem rgba(230, 234, 240, 0.25);
}

